<launch>
    <arg name="gui" default="true" />

    <include file="$(find offroad_learning)/launch/inference.launch">
        <arg name="param_topic" value="/offroad_learning/params" />
        <arg name="rb_topic" value="/offroad_learning/rb_data" />
        <arg name="ackermann" value="false" />
    </include>
    <include file="$(find offroad_learning)/launch/training.launch">
        <arg name="param_topic" value="/offroad_learning/params" />
        <arg name="rb_topic" value="/offroad_learning/rb_data" />
    </include>
    <!-- <include file="$(find gazebo_sim)/launch/octomap_navigation.launch">
    </include> -->
    <!-- <node pkg="offroad_learning" type="goal_graph.py" name="goal_graph_node">
        <param name="~goal_topic" type="string" value="/offroad_learning/goal" />
    </node> -->
</launch>